*
{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgb(105, 61, 106),rgba(0,0,0,0.1));
    background-repeat: no-repeat;
    background-size:cover;
    font-size: inherit;
}

nav
{
    width: 100%;
    height: 15vh;
    background:black ;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo
{
    color:rgb(132, 241, 241);
width: 25%;
text-align: center;
}

/* @keyframes animate__heartBeat {

        display: inline-block;
        margin: 0 0.5rem;
      
        
} */

nav .menu
{
    width: 40%;
    display: flex;
    justify-content: space-around;

}

nav .menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:first-child
{
    color:#eee(112, 13, 112);
}

nav a:hover
{
    background: violet;
    color:black;
}





.form{
    margin: 0px auto;
    width: 40%;
    border: 0.5px solid black;
    padding: 30px;
    font-size: 20px;
    background-color: rgb(164, 158, 167);

}

input[type=text],select
{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
border: 1px solid black;
box-sizing: border-box;
font-size: 14px;
}

input[type=submit]
{   
    width: 50%;
    background-color: rgb(250, 118, 186);
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 14px 20px;
    margin: 30px 100px;
    border:1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover
{
    background-color: #bb1a82;
    color:#eee;
}

h1
{
    /* color: rgb(12, 12, 27); */
    text-align: center;
}

/* .form
{
    color: black;
} */





